/* グローバルスタイル */
body {
    background-color: #1c1c1c;
    color: #ffffff;
}

/* コンテンツブロック */
.primary-container > .right-area > .content-page {
    background-color: #282828;
}

/* - 左側カード */
.primary-container > .left-area > .cards > .card-item {
    background-color: #282828;
}
/* - 表示設定 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item {
    background-color: #206fa0;
    color: #ffffff;
}

/* - テーマ設定 */
.primary-container > .left-area > .cards > .card-item > .content > .settings-item > .themes {
}

.primary-container > .left-area > .cards > .card-item > .content > .settings-item > .themes > .theme-item {
}
/* - テーマ設定 End */
/* - 表示設定 End */

/* - 左側カード End */

/* - フッター */
.footer {
    background-color: #171717;
}

.footer > .line-break {
    color: #aaaaaa;
}

.footer .icp-link {
    color: #ffffff;
}
/* - フッター End */
