/* ヘッダー */
.page-head {
    background-color: #fff5e0;
    background-image: url(../../../assets/images/page-head/VRChat_2026-08-28_00-31-24.139_1920x1080.png);
    background-size: cover;
    background-position: center 45%;
}
